body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 55vh;
  margin: 0 auto 40px auto;
  padding: 0 5px;
}

#noSport {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

/* NAV */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: calc(100% - 10px);
  max-width: 600px;
  background-color: white;
  z-index: 100;
  height: 65px;
  border-bottom: 2px solid slategray;
  transition: height 0.3s ease-out;
}

nav.hidden {
  overflow: hidden;
  height: 0;
  border-bottom: none;
}

nav * {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

nav.hidden * {
  opacity: 0;
}

nav form select {
  width: 90px;
  height: 25px;
  margin-right: 10px;
  background-color: buttonface;
  border-radius: 2px;
}

nav form select:hover {
  background-color: #e0e0e0;
}

nav #refresh {
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADLINES */

#headlines {
  list-style-type: none;
  margin-top: 65px;
}

ul {
  list-style: none;
  padding: 0;
}

#headlines > li {
  border-top: 2px solid slategray;
  list-style: none;
  margin-bottom: 20px;
}

#headlines > li:first-child {
  border-top: none;
}

/* PLAYER */

.PlayerNewsPost-player {
  display: inline-flex;
  width: 100%;
}

.PlayerNewsPost-image > a {
  width: 80px;
  height: 80px;
  display: block;
  color: white;
  font-size: 1px;
  border-radius: 0 0 2px 2px;
}

.PlayerNewsPost-image > a:not(:has(*)) {
  background-image: url("/generic-avatar.webp");
  background-size: 80px 80px;
}

.PlayerNewsPost-image > a > picture > img {
  border-radius: 0 0 2px 2px;
  width: 100%;
  height: 100%;
}

.PlayerNewsPost-player-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60px;
  height: 0;
  padding: 5px 0 0 5px;
}

.PlayerNewsPost-name {
  font-size: 1.2em;
}

.PlayerNewsPost-name a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
}

.PlayerNewsPost-team {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  color: slategray;
  font-size: 0.8em;
  padding-left: 1px;
  margin-top: 2px;
}

.PlayerNewsPost-team-logo {
  margin-left: auto;
  transform: translateY(-30px);
}

.PlayerNewsPost-team-logo a {
  color: white;
}

.PlayerNewsPost-team-logo img {
  height: 80px;
  width: 80px;
}

@media (max-width: 500px) {
  .PlayerNewsPost-team-logo img {
    height: 60px;
    width: 60px;
  }
}

.PlayerNewsPost-number,
.PlayerNewsPost-position {
  margin-right: 5px;
}

/* CONTENT */

.PlayerNewsPost-content {
  padding-left: 2px;
}

.PlayerNewsPost-headline {
  font-weight: 600;
  margin: 8px 0;
}

.PlayerNewsPost-analysis {
  line-height: 1.35em;
}

.PlayerNewsPost-analysis > span > a {
  color: black;
  font-weight: bold;
}

/* RELATED */

.PlayerNewsPost-related {
  --img-size-sm: 25px;
  margin-left: 1px;
}

.PlayerNewsPost-related-title {
  margin: 5px 0;
  font-size: 0.9em;
}

.PlayerNewsPost-related-items {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 2px;
  column-gap: 40px;
}

.PlayerNewsPost-related-item > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  height: var(--img-size-sm);
  padding-left: var(--img-size-sm);
  font-size: 0.8em;
}

.PlayerNewsPost-related-item > a:not(:has(*)) {
  background-image: url("/generic-avatar.webp");
  background-repeat: no-repeat;
  background-size: var(--img-size-sm) var(--img-size-sm);
}

.PlayerNewsPost-related-item > a > picture {
  margin-right: 5px;
  margin-left: calc(var(--img-size-sm) * -1);
  background-color: white;
}

.PlayerNewsPost-related img {
  border-radius: 2px;
  height: var(--img-size-sm);
  width: var(--img-size-sm);
}

/* LOAD MORE */

#loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

#loadmore button {
  height: 45px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border-color: slategray;
  border-radius: 5px;
  padding: 0 20px;
}
