body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#headlines {
  padding: 0 10px;
  list-style-type: none;
  max-width: 600px;
  margin: 20px auto;
}

ul {
  list-style: none;
  padding: 0;
}

#headlines > li {
  border-top: 2px solid slategray;
  list-style: none;
  margin-bottom: 25px;
}

.PlayerNewsPost-player {
  display: inline-flex;
  width: 100%;
}

.PlayerNewsPost-name a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
}

.PlayerNewsPost-content {
  padding-left: 2px;
}

.PlayerNewsPost-headline {
  font-weight: 600;
  margin-bottom: 8px;
}

.PlayerNewsPost-player-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;
  padding: 5px 0 0 5px;
}

.PlayerNewsPost-team {
  display: flex;
  flex-direction: row-reverse;
  color: slategray;
  font-size: 0.85em;
  padding-left: 3px;
}

.PlayerNewsPost-team img {
  /* width: 80px;
  height: 80px; */
  /* margin-left: auto; */
  /* position: absolute;
  right: 0; */
}

.PlayerNewsPost-image > a > picture > img {
  border-radius: 0 0 2px 2px;
}

.PlayerNewsPost-name {
  font-size: 1.2em;
}

.PlayerNewsPost-team-logo {
  margin-left: auto;
  transform: translateY(-30px);
}

.PlayerNewsPost-position {
  margin: 0 5px;
}

/* RELATED */

.PlayerNewsPost-related-item > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.PlayerNewsPost-related-title {
  margin-bottom: 3px;
}

.PlayerNewsPost-related-item > a > picture {
  margin-right: 5px;
}

.PlayerNewsPost-related {
  margin-top: 5px;
  margin-left: 2px;
}

/* more button */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-width: 300px;
  max-width: 600px; */
  /* min-height: 40px; */
  height: 80px;
  /* margin: 0 auto; */
  text-align: center;
  /* margin-bottom: 50px; */
}

form button {
  text-transform: uppercase;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  background-color: black;
  color: white;
  border-color: slategray;
}

/* SPINNER */

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
