body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 40px;
}

#headlines {
  padding: 0 10px;
  list-style-type: none;
  max-width: 600px;
  margin: 20px auto;
}

ul {
  list-style: none;
  padding: 0;
}

#headlines > li {
  border-top: 2px solid slategray;
  list-style: none;
  margin-bottom: 25px;
}

.PlayerNewsPost-image > a > picture > img {
  border-radius: 0 0 2px 2px;
}

.PlayerNewsPost-player {
  display: inline-flex;
  width: 100%;
}

.PlayerNewsPost-name a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
}

.PlayerNewsPost-content {
  padding-left: 2px;
}

.PlayerNewsPost-headline {
  font-weight: 600;
  /* margin-top: 10px; */
  margin: 8px 0;
}

.PlayerNewsPost-player-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60px;
  height: 0;
  padding: 5px 0 0 5px;
}

.PlayerNewsPost-team {
  display: flex;
  flex-direction: row-reverse;
  color: slategray;
  font-size: 0.8em;
  padding-left: 1px;
}

.PlayerNewsPost-name {
  font-size: 1.2em;
}

.PlayerNewsPost-team-logo {
  margin-left: auto;
  transform: translateY(-30px);
}
.PlayerNewsPost-team-logo img {
  height: 80px;
  width: 80px;
}

@media (max-width: 500px) {
  /* .PlayerNewsPost-image > a > picture > img {
    height: 70px;
    width: 70px;
  } */

  .PlayerNewsPost-team-logo img {
    height: 60px;
    width: 60px;
  }
}

/* .PlayerNewsPost-team-logo > a > picture > img {
  height: 80px;
  width: 80px;
} */

.PlayerNewsPost-number,
.PlayerNewsPost-position {
  margin-right: 5px;
}

/* .PlayerNewsPost-team {} */

/* RELATED */

.PlayerNewsPost-related-item > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.PlayerNewsPost-related-title {
  margin-bottom: 3px;
}

.PlayerNewsPost-related-item > a > picture {
  margin-right: 5px;
}

.PlayerNewsPost-related {
  margin-top: 5px;
  margin-left: 2px;
}

/* more button */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-width: 300px;
  max-width: 600px; */
  /* min-height: 40px; */
  height: 80px;
  /* margin: 0 auto; */
  text-align: center;
  /* margin-bottom: 50px; */
}

form button {
  text-transform: uppercase;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  background-color: black;
  color: white;
  border-color: slategray;
}
